body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#intro {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.pop-up {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}

.pop-up .btn { 
  width: 20%;
  aspect-ratio: 16/9;
  background-color: orange; 
  color: white;
  border: white;
  border-right: 0px solid white;
  text-transform: uppercase;
  font-family: "Geared slab", Georgia, serif;
	text-align:center;
  font-size: 2em;
  margin: auto;
  display: block;
  top: 60%;
  position: relative;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

@media only screen and (max-width: 800px) {
  .pop-up .btn {  
    top: 60%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .pop-up .btn {  
    top: 80%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}

@media only screen and (min-width: 1350px) {
  .pop-up .btn {
    width: 15%;  
    top: 95%;
    -ms-transform: translateY(-95%);
    transform: translateY(-95%);
    aspect-ratio: 16/5;
  }

  #intro {  
    top: 10%;
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}

.pop-up .btn:hover {
  background-color: red; 
}
.clip-polygon {
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
